body {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 35px;
    line-height: 18px;
    color: #000000;
    height: 0%;
   
        background: url(pics/2.png) 50% repeat-y;
       
    
        
        
  }
    
  h1 {
    width: 300px;
    font-family: "Palatino Linotypel", serif;
    font-size: 60px;
    line-height: 60px;
    
    
  }
  
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
  }
  
  .site-header {
    margin-bottom: 30px;
    font-family: "Arial Black",	sans‑serif;
  }
  
  .skills-item {
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #c4c4c4;
    color: #999999;
  }
  
  .standard {
    border-color: #ffc5b3;
    color: #666666;
  }
  
  
  
  .container {
    width: 480px;
    margin: 0 auto;
  }
  
  .site-header img {
    display: block;
    margin: 0 auto;
  }
  
  .features {
    margin-bottom: 30px;
  }
  
  .features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .feature-kitten {
    padding-top: 60px;
    background-image: url(pics/4.png);
  }
  
  .feature-cat {
    padding-top: 60px;
    background-image: url(pics/lock.png);
  }
  
  .feature-train {
    padding-top: 30px;
    background-image: url(pics/circle.png);
  }
  
  .skills-list {
    padding: 0;
    list-style: none;
  }
  
  .site-footer {
    display: flex;
    justify-content: space-between;
    color: #999999;
  }
  
.gde {

    font-family: "Arial Black",	sans‑serif;
    align="center"
}
  
  
.bottom {
    
  font-family: "Arial Black",	sans‑serif;
  ol { width: 200px; margin: auto; }
}
